language: c
sudo: required 

install:
- echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list
- sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key 0xB01FA116
- sudo apt-get update -qq
- sudo apt-get install ros-jade-desktop-base

script:
- ls /opt
- rospack list
